 /*Escritorio*/
.nombre_accion .div2 { width: 20%; }
.nombre_accion .div3 { width: 60%; }
.nombre_accion .div4 { width: 20%; }

/*Tablet*/
@media screen and (max-width: 800px) {
  .nombre_accion .div2 { width: 40%; }
  .nombre_accion .div3 { width: 60%; }
  .nombre_accion .div4 { width: 100%; }
}

 /*Celular*/
@media screen and (max-width: 500px) {
  .nombre_accion .div2 { width: 100%; }
  .nombre_accion .div3 { width: 100%; }
  .nombre_accion .div4 { width: 100%; }
}
