.ListadoClientesActivos-div2 { width: 70%; }
.ListadoClientesActivos-div3 { width: 30%; }

@media screen and (max-width: 800px) {
  .ListadoClientesActivos-div2 { width: 60%; }
  .ListadoClientesActivos-div3 { width: 40%; }
}
@media screen and (max-width: 500px){
  .ListadoClientesActivos-div2 { width: 100%; }
  .ListadoClientesActivos-div3 { width: 100%; }
}
